<h1><%= @snack.name %></h1>
<p>Price: <%= number_to_currency(@snack.price) %></p>

<%@snack.machines.each do |machine|%>
<section class="machine-<%=machine.id%>">
  <p><%= machine.location %></p>
  <p>Average Price: <%= number_to_currency(machine.average_price) %></p>
  <p>Kinds of snacks at location: <%= machine.snack_types %></p>
<%end%>
</section>
